<div class="row">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="logo" src="/images/GPL_MintGreen.png" />
        </a>
        <ul class="nav nav-tabs navbar-left">
          <li role="presentation"><a href="/users">USERS</a></li>
          <li role="presentation"><a href="/matches">MATCHES</a></li>
          <li role="presentation"><a href="#">SLACK</a></li>
          <li role="presentation"><a href="/about">ABOUT</a></li>
          <li role="presentation"><a href="/login">LOGIN</a></li>
          <li role="presentation"><a href="/logout">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
