<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">ABOUT THE GPPL</h1>
        <hr class="small-hr">
        <p class="description">
          The Galvanize Ping Pong League (GPPL) was created as a class project by a group of G17 (Fort Collins) students who like to play ping pong. The application allows you to create a user profile, enter your game stats, and see your rank based on wins and losses. Have fun and play hard!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>The Rules of Table Tennis</h3>
        <h4>Scoring:</h4>
        <p>A match is played best 3 of 5 games (or 4/7 or 5/9). For each game, the first player to reach 11 points wins that game, however a game must be won by at least a two point margin.</p>
        <p>A point is scored after each ball is put into play (not just when the server wins the point as in volleyball).</p>
        <p>The edges of the table are part of the legal table surface, but not the sides.</p>
        <h4>Flow of the Match</h4>
        <p>Each player serves two points in a row and then switch server. However, if a score of 10-10 is reached in any game, then each server serves only one point and then the server is switched. After each game, the players switch side of the table.
          In the final game (ie 5th game), the players switch side again after either player reaches 5 points.</p>
        <h4>Legal Service</h4>
        <p>The ball must rest on an open hand palm. Then it must be tossed up at least 6 inches and struck so the ball first bounces on the server's side and then the opponent's side.</p>
        <p>If the serve is legal except that it touches the net, it is called a let serve. Let serves are not scored and are reserved.</p>
        <h4>Equipment</h4>
        <p>The paddle should have a red and a black side. The ball should be either orange or white and 40 mm in size. The table should be 2.74 meters long, 1.525 m wide, and 0.76 m high. </p>
        <h3>
          <em>More formal rules can be found <a href="http://www.teamusa.org/USA-Table-Tennis/Features/2015/November/09/USA-Table-Tennis-Rules" target="_blank">HERE</a></em>
        </h3>
      </div>
      <div class="col-md-8">
        <h3>A Short History of Table Tennis</h3>
        <p>The sport originated in Victorian England, where it was played among the upper-class as an after-dinner parlour game. It had several different names, including 'whiff-whaff', and it has been suggested that makeshift versions of the game were developed
          by British military officers in India or South Africa, who brought it back with them. A row of books was stood up along the center of the table as a net, two more books served as rackets and were used to continuously hit a golf-ball. The
          name "ping-pong" was in wide use before British manufacturer J. Jaques & Son Ltd trademarked it in 1901. The name "ping-pong" then came to describe the game played using the rather expensive Jaques's equipment, with other manufacturers calling
          it table tennis. A similar situation arose in the United States, where Jaques sold the rights to the "ping-pong" name to Parker Brothers. Parker Brothers then enforced their trademark for the term in the 1920s making the various associations
          change their names to "table tennis" instead of the more common, but trademarked, term.</p>
        <p>The next major innovation was by James W. Gibb, a British enthusiast of table tennis, who discovered novelty celluloid balls on a trip to the US in 1901 and found them to be ideal for the game. This was followed by E.C. Goode who, in 1901, invented
          the modern version of the racket by fixing a sheet of pimpled, or stippled, rubber to the wooden blade. Table tennis was growing in popularity by 1901 to the extent that tournaments were being organized, books being written on the subject, and
          an unofficial world championship was held in 1902.</p>
        <p>In 1921, the Table Tennis Association was founded in Britain, and the International Table Tennis Federation (ITTF) followed in 1926. London hosted the first official World Championships in 1926. In 1933, the United States Table Tennis Association,
          now called USA Table Tennis, was formed.</p>
        <p>In the 1930s, Edgar Snow commented in Red Star Over China that the Communist forces in the Chinese Civil War had a "passion for the English game of table tennis" which he found "bizarre". On the other hand, popularity of the sport waned in 1930s
          Soviet Union, partly because of promotion of team and military sports, and partly because of a theory that the game had adverse health effects.</p>
        <p>In the 1950s, paddles that used a rubber sheet combined with an underlying sponge layer changed the game dramatically, introducing greater spin and speed. These were introduced to Britain by sports goods manufacturer S.W. Hancock Ltd. The use
          of speed glue increased the spin and speed even further, resulting in changes to the equipment to "slow the game down". Table tennis was introduced as an Olympic sport at the Olympics in 1988.</p>
      </div>
    </div>
    <footer>
      <% include ./partials/footer %>
    </footer>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>

</html>
