<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header %>
    <div class="row">
      <h1 class="text-center"><%= title %></h1>
      <hr class="small-hr">
      <form action='/matches/new' method='post'>
        <div class="row">
          <div class="form-group col-md-offset-1 col-md-4">
            <input name="score1" type="text" id="score_1" class="form-control scorecard" placeholder="0" required/>
            <input name="username1" type="text" class="form-control new-match-user" id="user_id1" placeholder="USERNAME 1" required/>
          </div>
          <div class="col-md-2">

          </div>
          <div class="form-group col-md-4">
            <input name="score2" type="text" id="score_2" class="form-control scorecard" placeholder="0" required/>
            <input name="username2" type="text" class="form-control new-match-user" id="user_id2" placeholder="USERNAME 2" required/>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">SUBMIT FINAL SCORE</button>
          </div>
        </div>
      </form>
    </div>
    <footer>
      <% include ./partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
